@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
}
/****************************************************************************
  Grid area styles
****************************************************************************/
nav {
    grid-area: nav_area;
}
#hero {
    grid-area: hero_area;
}
#three_cards {
    grid-area: three_cards_area;
}
.about_me_card {
    grid-area: about_me_card_area; 
}
#form_container {
    grid-area: form_container_area;
}
footer {
    grid-area: footer_area; 
}
/*****************************************************************************
 Nav Styles
*****************************************************************************/
nav {
    align-items: center;
    display: flex;
    padding: 0 50px;
    background-color: #9DACD5;
    font-size: 18px;
}
nav ul,
nav h2 {
    flex: 1;
}
a {
    text-decoration: none;
}
#nav_links,
.social_media {
    display: flex;
    list-style-type: none;
}

#nav_links li,
.social_media li {
    padding: 0 5px;
    justify-content: center;
}

.social_media i {
    font-size: 20px;
    color: #fefae0;
}

nav,
nav a,
footer a {
   color: #fefae0;
   font-family: 'Poppins', sans-serif;
}
nav a:hover,
footer a:hover {
    text-decoration: underline;
}
/*****************************************************************************
 Hero Styles
*****************************************************************************/
#hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/herobackground.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#hero h2, p, a {
    color: #fefae0;
    font-family: 'Poppins', sans-serif;

}
#hero a,
.card a {
    background-color: #9DACD5;
    color: #fefae0;
    border-radius: 24px;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 12px;
    min-width: 150px;
}
#hero a:hover,
.card a:hover {
    border: 2px solid #fefae0;
    transition: 0.5s;
}
/*****************************************************************************
 Three cards Styles
*****************************************************************************/
#three_cards {
    display: flex;
}
#three_cards h3 {
    font-family: 'Poppins', sans-serif;
}
.card {
    background-color: #9DACD5;
    color: #fefae0;
    margin: 48px 24px 24px;
    padding: 12px 12px 24px;
    text-align: center;
    box-shadow: 4px 4px 8px 0px;
    flex: 1;
    flex-direction: column;
    border-radius: 10px;
}
.card p {
    font-size: 15px;
    flex: 1;
    margin-top: 0px;
    color: black;
}
.card a {
   background-color: #faedcd;
   color: #9DACD5;
}
/*****************************************************************************
About Me Card Styles
*****************************************************************************/
.about_me_card {
    display: flex;
}
.about_me_card {
    background-color: #9DACD5;
    margin: 50px auto;
    width: 500px;
    text-align: center;
    flex: 1;
    flex-direction: column;
    padding: 30px;
}
.about_me_card img {
    width: 60%;
   
}
.about_me_card h3 {
    color: #FBFBF2;
    font-family: 'Poppins', sans-serif;
}
.about_me_card p {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
/*****************************************************************************
Form Styles
*****************************************************************************/
#form_container {
    
    grid-template-areas:
    ". header_area ."
    ". main_area .";
}
form {
    background-color:  #a6a2a2;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 500px;
    margin: 0px auto;
    color: #FBFBF2; 
}
#form_container main {
    font-family: 'Poppins', sans-serif;
    padding: 30px;
}
#form_container header {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#form_container div {
    padding: 10px;
}
#form_container p {
    color: #9DACD5; 
}
select,
input, 
textarea {
    border-radius: 2px;
    border: 2px solid #9DACD5;
    width: 100%;
    border-radius: 10px;
    border-radius: border-box;
    font-size: 15px;
    
}
input[type=submit] {
    width: auto;
    padding: 8px;
    background-color: #9DACD5;
    border: 0px;
    color: #FBFBF2;
    min-width: 100px;
    font-family: 'Poppins', sans-serif;
}
#services {
    text-align: center;
    margin-top: 50px;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
}
/*****************************************************************************
Footer Styles
*****************************************************************************/
footer {
    display: flex;
    justify-content: center;
    background-color:  #a6a2a2;
    padding: 15px;
    margin-top: 20px;
}
/****************************************************************************
  Media Query - Mobile Breakpoint
****************************************************************************/
@media screen and (max-width: 800px) {
    #site_grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "nav_area"
            "hero_area"
            "three_cards_area"
            "footer_area"
            ".about_me_card_area"
            "#form_container";
    }
    nav {
        flex-direction: column;
    }
    #three_cards {
        flex-direction: column;
    }
    form {
        align-items: center;
        margin: 36px 24px 0px;
    }
    .about_me_card {
        align-items: center;
        margin: 36px 24px 0px; 
    }
}